eurostatapiclient
jsonstat.py
pandaSDMX
dbnomics
geojson
geopandas
eurostat
plotly
descartes
rtree
jupyter_contrib_nbextensions
google.colab
datetime
ipython
matplotlib
numpy
scipy
pandas
requests 
scikit-learn
seaborn
ipywidgets
