matplotlib
numpy
scipy
pandas
requests 
scikit-learn
seaborn
jupyter_contrib_nbextensions
eurostatapiclient
jsonstat.py
pandaSDMX
geojson==2.4.1
folium==0.12.0
geopandas==0.8.2
eurostat==0.2.1
google.colab
datetime
