ipython
pip
matplotlib
numpy
scipy
pandas
requests 
scikit-learn
seaborn
jupyter_contrib_nbextensions
ipywidgets
requests
eurostatapiclient
jsonstat.py
pandaSDMX
geojson
folium
geopandas
eurostat
google.colab
datetime
